@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgba(75, 85, 99, 1);
}

.react-tag-input {
  background: rgba(55, 65, 81, 1) !important;
  border: none !important;
  color: white !important;  
}


.react-tag-input__input {
  color: white !important;  
}
